* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {

    background-image: url(/resources/IMG/photo-1528715471579-d1bcf0ba5e83.avif);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

body {
    width: 100%;
    
}

header {

    
}

h2 {
    color: #FFFAB7;
    font-family: 'Lobster';
    font-size: 1.5rem;
}

h1 {
    font-family: 'Pacifico';
    font-size: 2rem;
    color: #FFFAB7;
    text-decoration: underline;
}



/** Navigation**/


.navcontainer {
    display: flex;
    background-color: rgba(2.7%, 25.5%, 45.1%, 0.5);
    padding: 1rem;
    border-bottom: 1px solid #FFFAB7;
}

nav .navigation {
    font-family: 'Dancing Script';
    color: #ffffff;
    

    
    }

    .clubname {
        display: flex;
        margin-right: auto;
        margin-left: 1rem;
    
    }

    


.navigation ul {
    display: flex;
    font-size: 2rem;
    list-style-type: none;
    gap: 2rem;
    margin-right: 1rem;

}

ul li:hover {
    color: #FFFAB7;

}



main {

}

#meditationclub {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: rgba(7.5%, 36.5%, 40%, 0.3);
    border-bottom: 1px solid #FFFAB7;
   
}

.clubinformation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'dancing script';
    font-size: 1.5rem;
    color: #ffffff;
    width: 70%;
    text-align: center;
    line-height: 3rem;

}

/** What We Do **/


#whatwedo {
background-color: rgba(42.4%, 1.2%, 27.1%, 0.3);

padding-bottom: 5rem;
}


.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.maincontainer p {
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    color: #ffffff;

}

.meditationtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    padding: 2rem;
    line-height: 3rem;
}


.mainimgcontainer {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   gap: 2rem;
   
}

.imgcontainer {
    width: 400px;
    height: 300px;
    border: 1px solid #FFFAB7;

}

.imgcontainer img {
    flex: 1;
    width: 100%;
    height: 100%;
}



/** Quotes **/ 



#quotes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: 'Dancing Script';
    font-size: 2rem;
    background-color: rgba(12%, 12%, 12%, 0.5);
    color: #FFFAB7;
    padding: 5rem;
    border-top: 1px solid #FFFAB7;
}

.textcontainer {
    display: flex;
    width: 500px;
    height: auto;
}

.textcontainer img {
    width: 100%;


}







#signup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Lobster';
    padding: 5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    border-top: 1px solid #FFFAB7;
    color: #FFFFFF;
    background-color: rgba(69, 63, 120, 0.8);
}

.maininfocontainer {
    width: 500px;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7%;
    border: 1px solid #FFFAB7;
    border-radius: 15px;

}

#button:hover {

    background-color: #FFFFFF;
    color: rgba(69, 63, 120, 1.0);
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex: 1;
    padding: 20px;
    background-color: #704264;
    color: #FFFFFF;
    border-top: 1px solid #FFFAB7;

   
}

.mainfooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    flex-wrap: wrap;
    flex: 1;
    
    
}

.content {
    display: flex;
}

/** Media Queries **/

@media only screen and (max-width: 760px) {

    .navigation ul {
        display: none;
    }

    .navcontainer .clubname  {
        margin: 0 auto;
    }

    
    }